body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
}

.camera-switch {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 8px;
    right: 8px;
    z-index: 1;
    background-image: url("switch.png");
    background-size: contain;
    background-color: transparent;
    border: none;
}

.avatar-switch {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 64px;
    right: 8px;
    z-index: 1;
    background-image: url("avatar.png");
    background-size: contain;
    background-color: transparent;
    border: none;
}

.avatar-switch:checked {
    background-image: url("outfit.png");
}

input.avatar-switch[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
}

.record {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 8px;
    left: 8px;
    z-index: 1;
    background-image: url("snapshot.png");
    background-size: contain;
    background-color: transparent;
    border: none;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 64px;
    bottom: 16px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.carousel-item {
    background-size: contain;
    background-color: transparent;
    border: double 4px #008080;
    border-radius: 50%;
    overflow: hidden;
    height: 64px;
    width: 64px;
    margin: auto 4px;
    transition: .6s;
}

.carousel input[type="radio"] {
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
}

.carousel-item:checked {
    border: solid 4px #008080;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  z-index: 2;
}

.dots > div {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 100%;
  background-color: #008080;
  animation: dot-pulse 1.4s infinite ease-in-out both;
  -webkit-animation: dot-pulse 1.4s infinite ease-in-out both;
}

.dots .pulse1 {
  animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
}

.dots .pulse2 {
  animation-delay: -0.16s;
  -webkit-animation-delay: -0.16s;
}

@keyframes dot-pulse {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes dot-pulse {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  animation: spinner 2.5s infinite linear both;
  -webkit-animation: spinner 2.5s infinite linear both;
}

.spinner-dot {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  animation: spinner-dot 2.0s infinite ease-in-out both;
  -webkit-animation: spinner-dot 2.0s infinite ease-in-out both;
}

.spinner-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #008080;
  border-radius: 100%;
  animation: spinner-dot-before 2.0s infinite ease-in-out both;
  -webkit-animation: spinner-dot-before 2.0s infinite ease-in-out both;
}

.spinner-dot:nth-child(1) { animation-delay: -1.1s; }
.spinner-dot:nth-child(2) { animation-delay: -1.0s; }
.spinner-dot:nth-child(3) { animation-delay: -0.9s; }
.spinner-dot:nth-child(4) { animation-delay: -0.8s; }
.spinner-dot:nth-child(5) { animation-delay: -0.7s; }
.spinner-dot:nth-child(6) { animation-delay: -0.6s; }
.spinner-dot:nth-child(1):before { animation-delay: -1.1s; }
.spinner-dot:nth-child(2):before { animation-delay: -1.0s; }
.spinner-dot:nth-child(3):before { animation-delay: -0.9s; }
.spinner-dot:nth-child(4):before { animation-delay: -0.8s; }
.spinner-dot:nth-child(5):before { animation-delay: -0.7s; }
.spinner-dot:nth-child(6):before { animation-delay: -0.6s; }

.spinner-container {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner-dot {
  80%, 100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-dot {
  80%, 100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner-dot-before {
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes spinner-dot-before {
  50% { -webkit-transform: scale(0.4); }
  100%, 0% { -webkit-transform: scale(1.0); }
}
